[submodule "PhysioBluffGame"]
	path = PhysioBluffGame
	url = git@github.com:potioc/PhysioBluffGame.git
[submodule "pseye_unleashed"]
	path = pseye_unleashed
	url = git@github.com:jfrey-xx/pseye_unleashed.git 
[submodule "OVDLSLReader"]
	path = OVDLSLReader
	url = git@github.com:jfrey-xx/OVDLSLReader.git 
[submodule "pdp_kinect"]
	path = pdp_kinect
	url = git@github.com:jfrey-xx/multiPPG.git
[submodule "libfreenect2"]
	path = libfreenect2
	url = git@github.com:jfrey-xx/libfreenect2.git
