[Desktop Entry]
Categories=Application;
Comment[en_US]=
Comment=
Encoding=UTF-8
Exec=~/bluff_game/tools/init_webcams.sh
GenericName[en_US]=
GenericName=
MimeType=
Name=init_webcams.sh
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
